<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">


    <style>
        body {
            background-image: url('bg1.jpg');
        }
    </style>
</head>

<body class="container">
<!--<h1>Home Page</h1>-->
<h1>Sales Report</h1><br>
<div th:if="${saleFilterRequestDTO != null}">
    <div style="color: green">Sales filter result</div>
</div>
<br>
<form action="#" th:action="@{/filter}" th:object="${saleFilterRequestDTO}" method="post">


        <p>Product Name: <input type="text" th:field="*{productName} "/></p>

      <p>Segment:
        <select th:field="*{segment}">
            <option th:each="segment : ${T(com.vinni.constant.Segment).values()} "
                    th:value="${segment}"
                    th:text="${segment}">
            </option>
        </select>
      </p>

      <p>Category:
        <select th:field="*{category}">
          <option th:each="category : ${T(com.vinni.constant.Category).values()} "
                th:value="${category}"
                th:text="${category}">
          </option>
       </select>
      </p>


      <p>Customer Name: <input type="text" th:field="*{customerName}"/></p>
      <p>Country: <input type="text" th:field="*{country}"/></p>
      <p>City: <input type="text" th:field="*{city}"/></p>

      <p>State: <input type="text" th:field="*{state}"/></p>
      <p>Region:
       <select th:field="*{region}">
         <option th:each="region : ${T(com.vinni.constant.Region).values()} "
                th:value="${region}"
                th:text="${region}">
         </option>
       </select>
      </p>

    <p>Order Date From: <input type="text" th:field="*{orderDateFrom}"/></p>
    <p>Order Date To: <input type="text" th:field="*{orderDateTo}"/></p>
    <p>Ship Date From: <input type="text" th:field="*{shipDateFrom}"/></p>
    <p>Ship Date To: <input type="text" th:field="*{shipDateTo}"/></p>

    <div class="form-group">
        <br> </br>
<!--        <input type="reset" value="Reset">-->
        <button class="btn btn-success" type="submit" name="action" value="filter">Filter Sales</button>
        <button class="btn btn-danger" type="submit" name="action" value="reset">Reset</button>
    </div>

</form>

<br>
<br>
<div class="container">

    <h2 style="color: green">Filtered Sales Reports: <span th:text="${saleList.size()}"></span> result(s)</h2>

    <!--    List Sales-->
    <!--    <table border="2px solid gray" style="margin: 3px; padding: 3px">-->
    <table class="table">
        <thead class="thead-dark">
        <tr style="text-align: center">
            <th>Order ID</th>
            <th style="width: 110px">Order Date</th>
            <th style="width: 110px">Ship Date</th>
            <th style="width: 300px">Product Name</th>
            <th>Region</th>
            <th>Segment</th>
            <th>Customer Name</th>
            <th>City</th>
        </tr>
        </thead>

        <tbody>
        <th:block th:each="sale, rowStat : ${saleList}">
            <tr th:style="${rowStat.odd} ? 'background: #f0f0f2;' : 'background: #ffffff;'">
                <td style="padding: 5px" th:text="${sale.getOrderID()}"></td>
                <td style="padding: 5px" th:text="${sale.getOrderDate()}"></td>
                <td style="padding: 5px" th:text="${sale.getShipDate()}"></td>
                <td style="padding: 5px" th:text="${sale.getProductName()}"></td>
                <td style="padding: 5px" th:text="${sale.getRegion()}"></td>
                <td style="padding: 5px" th:text="${sale.getSegment()}"></td>
                <td style="padding: 5px" th:text="${sale.getCustomerName()}"></td>
                <td style="padding: 5px" th:text="${sale.getCity()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
</html>