<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

<body class="container">
<!--<h1>Home Page</h1>-->
<h1>Sales Report</h1><br>
<div th:if="${saleFilterRequestDTO != null}">
    <div style="color: green">Sales filter result</div>
</div>

<form action="#" th:action="@{/filter}" th:object="${saleFilterRequestDTO}" method="post">
    <p>Product Name: <input type="text" th:field="*{productName}"/></p>
    <p>Segment: <input type="text" th:field="*{segment}"/></p>
    <p>Category: <input type="text" th:field="*{category}"/></p>
    <p>Customer Name: <input type="text" th:field="*{customerName}"/></p>
    <p>Country: <input type="text" th:field="*{country}"/></p>
    <p>City: <input type="text" th:field="*{city}"/></p>
    <p>State: <input type="text" th:field="*{state}"/></p>
    <p>Region: <input type="text" th:field="*{region}"/></p>
    <p>Order Date From: <input type="text" th:field="*{orderDateFrom}"/></p>
    <p>Order Date To: <input type="text" th:field="*{orderDateTo}"/></p>
    <p>Ship Date From: <input type="text" th:field="*{shipDateFrom}"/></p>
    <p>Ship Date To: <input type="text" th:field="*{shipDateTo}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>

    <div class="form-group">
        <button class="btn btn-success" type="submit">Filter Sales</button>
    </div>
</form>
<div class="container">

    <h2 style="color: green">Sales Report</h2>


    <!--    List Sales-->
    <table border="2px solid gray" style="margin: 3px; padding: 3px">
        <thead style="text-align: center">
        <td>Order ID</td>
        <td>Order Date</td>
        <td>Ship Date</td>
        <td>Product Name</td>
        <td>Region</td>
        <td>Segment</td>
        <td>Customer Name</td>
        <td>City</td>
        </thead>

        <tbody>
        <th:block th:each="sale : ${saleList}">
            <tr>
                <td style="padding: 5px" th:text="${sale.getOrderID()}"></td>
                <td style="padding: 5px" th:text="${sale.getOrderDate()}"></td>
                <td style="padding: 5px" th:text="${sale.getShipDate()}"></td>
                <td style="padding: 5px" th:text="${sale.getProductName()}"></td>
                <td style="padding: 5px" th:text="${sale.getRegion()}"></td>
                <td style="padding: 5px" th:text="${sale.getSegment()}"></td>
                <td style="padding: 5px" th:text="${sale.getCustomerName()}"></td>
                <td style="padding: 5px" th:text="${sale.getCity()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
</html>
